<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/CSS/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <title>Collabo-Roleplay - Register</title>
  </head>
  <body>
    <nav>
      <a href="index.html" class="nav-home"> Home</a>
    </nav>
    <div class="spacer"></div>
    <section>
      <div class="login">
        <h1 class="sign-in">Register</h1>
        <br />
        <form class="log-in-form">
          <div class="sign-in-input">
            <label class="sign-in-input" for="f-display-name"
              >Display Name:</label
            ><br />
            <input
              type="text"
              id="f-display-name"
              name="f-display-name"
              class="log-in-input"
            />
            <br />
          </div>
          <div class="sign-in-input">
            <label class="sign-in-input" for="f-user">Email:</label><br />
            <input
              type="email"
              id="f-user"
              name="f-user"
              class="log-in-input"
            />
            <br />
          </div>
          <div class="sign-in-input">
            <label for="f-pass">Password:</label><br />
            <input
              type="password"
              name="f-pass"
              id="f-pass"
              class="log-in-input"
            />
            <div class="sign-in-input">
              <label for="f-pass">Confirm Password:</label><br />
              <input
                type="password"
                name="f-pass"
                id="f-pass"
                class="log-in-input"
              />
            </div>
            <br />
            <input type="submit" value="Register" class="register-button" />
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
